{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      },
    ],
    ["module-resolver", {
      "alias": {
        "ui": "./components/ui",
        "container": "./components/container",
        "utils": "./utils",
        "stores": "./stores"
      }
    }],
    ["transform-class-properties"],
  ]
}
